# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*
.env*

# firebase
firebase-debug.log
firestore-debug.log
.kilocode/mcp.json
.kilocode/skills/theme-factory/LICENSE.txt
.kilocode/skills/theme-factory/SKILL.md
.kilocode/skills/theme-factory/theme-showcase.pdf
.kilocode/skills/theme-factory/themes/arctic-frost.md
.kilocode/skills/theme-factory/themes/botanical-garden.md
.kilocode/skills/theme-factory/themes/desert-rose.md
.kilocode/skills/theme-factory/themes/forest-canopy.md
.kilocode/skills/theme-factory/themes/golden-hour.md
.kilocode/skills/theme-factory/themes/midnight-galaxy.md
.kilocode/skills/theme-factory/themes/modern-minimalist.md
.kilocode/skills/theme-factory/themes/ocean-depths.md
.kilocode/skills/theme-factory/themes/sunset-boulevard.md
.kilocode/skills/theme-factory/themes/tech-innovation.md
.opencode
